<div id="neuerTagBtn">
  <button (click)="neuerTag()">Neuer Tag</button>
</div>

<h1>Energiebedarf</h1>

<section>

  <h3>Tagesziel: {{ runden(tagesziel) }} kcal</h3>

  <h3>Aufgenommen: {{ runden(tageswert) }} kcal</h3>

  <h3 [class.zuviel]="uebrig < 0">Übrig: {{ runden(uebrig)  }} kcal</h3>

  <button [class.disabled]="!canUndo"
          (click)="letztenLoeschen()">
    Letzten Eintrag löschen
  </button>

</section>

<br>

<section>

  <h2>Neues Lebensmittel:</h2>

  <div>
    <label>Portion in gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="mengeLM">
  </div>

  <div>
    <label>Fett pro 100 gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="fettLM">
  </div>

  <div>
    <label>Eiweiß pro 100 gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="eiweissLM">
  </div>

  <div>
    <label>Kohlehydrate pro 100 gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="kohlehydrateLM">
  </div>

  <button [class.disabled]="lebensmittelEintragNichtOK()"
          (click)="lebensmittelEintragen()">
    Eintragen
  </button>

</section>

<br>

<section>

  <h2>Kalorien:</h2>

  <div>
    <label>kcal</label>
    <input type="number" placeholder="0" [(ngModel)]="kcalWert">
  </div>

  <button [class.disabled]=
            "kcalWert == null || kcalWert < 1"
          (click)="kcalEintragen()">
    Eintragen
  </button>

</section>

<br>

<section>

  <h2>Neue Mahlzeit:</h2>

  <h4>Eingetragene Zutaten: {{anzahlZutaten}}</h4>

  <div>
    <label>Zutat in gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="mengePM">
  </div>

  <div>
    <label>Fett pro 100 gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="fettPM">
  </div>

  <div>
    <label>Eiweiß pro 100 gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="eiweissPM">
  </div>

  <div>
    <label>Kohlehydrate pro 100 gr</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="kohlehydratePM">
  </div>

  <button
    [class.disabled]=
      "zutatEintragenNichtOk()"
    (click)="zutatEintragen()">
    Zutat eintragen
  </button>

  <div>
    <label>Portionen</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="anzahlPM">
  </div>

  <div>
    <label>gegessene Portionen</label>
    <input type="number"
           placeholder="0"
           [(ngModel)]="gegessenPM">
  </div>

  <button [class.disabled]=
            "portionEintragenNichtOK()"
          (click)="mahlzeitEintragen()">
    Mahlzeit speichern
  </button>

</section>
